@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
}

/* GENERAL & HELPERS */
.hidden {
    display: none;
}


/*========== VARIAVEIS ===============*/

:root {
    --primary-color: #C4170C;
    --text-primary: #333333;
}

/* HEADER */

.main-header {
    background-color: var(--primary-color);
    padding: 16px 0px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.main-header__logo {
    margin: 0 auto;
}

.main-header__logo--figcaption {
    display: none;
}

@media (max-width: 767px) {
    .main-header {
        padding: 0px;
    }
}

/* CONTAINER */

.main-container {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;


}



.main-container-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;

    @media (max-width: 767px) {
        padding: 40px 0;
    }
}

/* MAIN NEWS */

.main-news-box {
    display: flex;
    gap: 20px;

    @media (max-width: 767px) {
        min-height: auto;
        flex-wrap: wrap;
    }
}



.main-news-box__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    background-color: white;

    min-height: 426px;

    @media (max-width: 767px) {
        min-height: auto;
        flex: auto;
        gap: 8px;
        border-radius: 0px;
    }
}



.main-news-box__label {
    font-weight: 600;
    line-height: 22px;
    color: var(--text-primary);
    margin-bottom: 40px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
    }
}

.main-news-box__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -2.5px;
    color: var(--primary-color);
    flex: 1;

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.72px;
    }
}

.main-news-box__description {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;

    @media (max-width: 767px) {
        line-height: 20px;
        letter-spacing: -0.32px;
    }
}



/* MAIN NEWS ONLY IMAGE */
.main-news-box__card--full-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-content: end;
    justify-content: stretch;
    color: white;
    border: none;

    .main-news-box__label {
        color: #FFFFFF;
        z-index: 2;
    }

    .main-news-box__title {
        color: #FFFFFF;
        align-content: flex-end;
        z-index: 2;
    }

    .main-news-box__description {
        color: #FFFFFF;
        z-index: 2;
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .4));
        content: "";
        border-radius: 12px;
    }

    @media (max-width: 767px) {
        &:after {
            border-radius: 0px;
        }
    }

}

/* NEWS LIST */

.news-box {
    display: flex;
    gap: 20px;

    @media (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
    }
}

.news-list-wrapper {
    width: 68%;

    @media (max-width: 767px) {
        width: 100%;
    }

}

.news-list-wrapper #news-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.news-list-item {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #C8C8C8;
    display: flex;
    gap: 20px;

    @media (max-width: 767px) {
        flex-direction: column;
        background-color: white;
        border-bottom: 0;
        box-shadow: 0px 1px 2px 0px #0000001A;

        &>section:nth-child(1) {
            order: 2;
        }

        &>section:nth-child(2) {
            order: 1;
        }

        &>section:nth-child(3) {
            order: 3;
        }
    }
}

/* AD */
.new-list-item__box--ad {
    @media (max-width: 767px) {
        padding: 20px;
    }
}

.new-list-item__ad-tag {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 6px;
    color: white;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #ECB600;
    width: fit-content;
}

.new-list-item__image-ad {
    border-radius: 12px;
    width: 100%;

    @media (max-width: 767px) {
        height: 200px;
        object-fit: cover;
        object-position: center;
    }
}

/* MUDAR O NOME DAS CLASSES DEPOIS */
.new-list-item__img-container {
    max-width: 270px;
    position: relative;

    @media (max-width: 767px) {
        max-width: 100%;
    }
}

.new-list-item__img-container>div {
    position: relative;
}

.new-list-item__img-tag {
    max-width: 270px;
    border-radius: 12px;

    @media (max-width: 767px) {
        max-width: 100%;
        border-radius: 0px;
    }
}

.new-list-item__img-tag--video {
    filter: brightness(0.70);
}

.new-list-item__play {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-list-item__play img {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
}

.new-list-item__play-time {
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: white;
}

.new-list-item__info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 767px) {
        padding: 20px;
    }
}

.new-list-item__label {
    font-weight: 600;
    line-height: 21.79px;
    color: var(--text-primary);

}

.new-list-item__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.25px;
    color: var(--primary-color);
}

.new-list-item__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.30px;
    color: #555555;
}

.new-list-item__when {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #555555;
    width: 100%;

    &.new-list-item__when--desktop {
        display: block;
    }

    &.new-list-item__when--mobile {
        display: none;
    }

    @media (max-width: 767px) {
        padding: 0px 20px;

        &.new-list-item__when--desktop {
            display: none;
        }

        &.new-list-item__when--mobile {
            display: block;
        }
    }
}

/* SKELETON ---- REMOVER DEPOIS ---- */
.news-skeleton {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-skeleton__item {
    width: 100%;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 8px;
    animation: pulse-skeleton 1.5s infinite ease-in-out;
}

.main-news-skeleton {
    display: flex;
    gap: 20px;
    width: 100%;

    @media (max-width: 767px) {
        min-height: auto;
        flex-wrap: wrap;
    }
}

.main-news-skeleton__item {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 12px;
    animation: pulse-skeleton 1.5s infinite ease-in-out;
    min-height: 426px;

    @media (max-width: 767px) {
        min-height: auto;
    }
}

@keyframes pulse-skeleton {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


/* BUTTON */
.btn {
    padding: 16px 0;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
    outline: none;
    border: none;

    @media (max-width: 767px) {
        width: 90%;
        margin: 0 auto;
    }
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

/* NEWS GROUP ASIDE*/

.main-aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.new-group-box {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    background-color: white;

    @media (max-width: 767px) {
        border-radius: 0;
    }
}

.new-group-box__header {
    padding: 16px 24px;
    border-bottom: 1px solid #e6e6e6;
}

.new-group-box__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--text-primary);
}

.new-group-box__content {
    padding: 0px 24px;
}

.new-group-box__footer {
    padding: 16px 24px;
    border-top: 1px solid #e6e6e6;
}

.new-group-box__footer a {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 16px;
    text-decoration: none;
}

.new-group-box__content-list {
    list-style: none;
}


.new-group-box__content-item {
    padding: 20px 0px;
    border-top: 1px solid #e6e6e6;
}

.new-group-box__content-item:first-child {
    border-top: none;
}

.new-group-box__content-item a {
    font-weight: 700;
    line-height: 20px;
    color: var(--primary-color);
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: var(--primary-color);
    padding: 40px;
}

.footer-box {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

/* SEPARAR O MODAL E OUTROS CSS */

/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    z-index: 1600;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1024px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        width: 60%;
    }

    @media (max-width: 600px) {
        width: 90%;
    }
}

/* Caption of Modal Image */
#caption {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: white;
    padding: 8px;

    @media (max-width: 767px) {
        top: 24px;
        right: 24px;
    }
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-name: zoom;
    animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
    from {
        opacity: 0;
        -webkit-transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #8A8180;
    font-weight: bold;
    transition: 0.3s;

    @media (max-width: 767px) {
        top: 24px;
        right: 24px;
    }
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}