<article class="news-list-item">
    <section class="new-list-item__image-box">
        <img src="./assets/imgs/news-example.png" alt="Fotos mostram tamanho da destruição e desespero das vítimas"
            title="Fotos mostram tamanho da destruição e desespero das vítimas" class="new-list-item__image-image">
        <figcaption class="hidden">Fotos mostram tamanho da destruição e
            desespero
            das
            vítimas</figcaption>
    </section>
    <section class="new-list-item__info-box">
        <h3 class="new-list-item__label">Avanço da pandemia</h3>
        <h2 class="new-list-item__title">Brasil chega a 96.113 mortes por Covid e tem 2,8 milhões de
            casos
        </h2>
        <p class="new-list-item__description">
            Butantan dobrou capacidade e realiza agora 400 testagens por dia em shopping.
        </p>
        <small class="new-list-item__when new-list-item__when--desktop"> Há 3 horas — Em
            Coronavírus</small>
    </section>
    <section>
        <small class="new-list-item__when new-list-item__when--mobile"> Há 3 horas — Em
            Coronavírus</small>
    </section>
</article>