<article class="news-list-item animate__animated animate__fadeIn">
    <section class="new-list-item__image-box">
        <img src="" alt="" title="" class="new-list-item__image-image">
        <figcaption class="hidden"></figcaption>
    </section>
    <section class="new-list-item__info-box">
        <h3 class="new-list-item__label"></h3>
        <h2 class="new-list-item__title"> </h2>
        <p class="new-list-item__description"></p>
        <small class="new-list-item__when new-list-item__when--desktop"></small>
    </section>
    <section>
        <small class="new-list-item__when new-list-item__when--mobile"></small>
    </section>
</article>