<article class="news-list-item animate__animated animate__fadeIn">
    <section class="new-list-item__img-container">
        <div>
            <a href="" target="_blank" class="new-list-item__link">
                <img src="" alt="" title="" class="new-list-item__img-tag" loading="lazy">
                <figcaption class="hidden"></figcaption>
                <div class="new-list-item__play">
                    <img src="./assets/imgs/play-icon.svg" alt="icon-label" loading="lazy">
                    <span class="new-list-item__play-time"></span>
                </div>
            </a>
        </div>
    </section>
    <section class="new-list-item__info-box">
        <h3 class="new-list-item__label"></h3>
        <a href="" target="_blank" class="new-list-item__link">
            <h2 class="new-list-item__title"> </h2>
        </a>
        <p class="new-list-item__description"></p>
        <small class="new-list-item__when new-list-item__when--desktop"></small>
    </section>
    <section>
        <small class="new-list-item__when new-list-item__when--mobile"></small>
    </section>
</article>