<div class="new-group-box animate__animated animate__fadeIn">
    <div class="new-group-box__header">
        <h2 class="new-group-box__title"></h2>
    </div>
    <div class="new-group-box__content">
        <ul class="new-group-box__content-list">
            <li class="new-group-box__content-item">
                <a href="" target="_blank"></a>
            </li>
        </ul>
    </div>
    <div class="new-group-box__footer">
        <a href="https://g1.globo.com/" target="_blank">
            Mais
            conteúdos recomendados
        </a>
    </div>
</div>